<title>{{title}}</title>

<ion-header class="ion-no-border">
    <ion-toolbar>

      <ion-title *ngIf="type !== 'login'" class="ion-text-center">{{label}}</ion-title>
      <ion-back-button *ngIf="backButton" [defaultHref]="backButton" slot="start" ></ion-back-button>

      <!-- Language Selection Dropdown -->
      <ion-buttons *ngIf="translation !== false" slot="end">
        <ion-item lines="none">
          <ion-select [(ngModel)]="selectedLanguage" (ionChange)="switchLanguage($event.detail.value)">
            <ion-select-option value="es">Es</ion-select-option>
            <ion-select-option value="en">En</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Icon next to the toggle button -->
        <ion-icon [name]="isDarkMode ? 'moon-outline' : 'sunny-outline'" slot="start"></ion-icon>

        <!-- Toggle for dark mode -->
        <ion-toggle mode="ios" [checked]="isDarkMode" (ionChange)="toggleTheme()"></ion-toggle>
        
      </ion-buttons>

      </ion-toolbar>    
</ion-header>

