<!-- <ion-card>
  <form [formGroup]="singForm" (ngSubmit)="onSubmit()">
    <div> -->

      <!-- ------------------------- USER INPUT ------------------------- -->

      <!-- <div class="input">
        <ion-label class="prompt-text" position="stacked">{{ 'UserName' | translate | async }}</ion-label>
        <br><br>
        <ion-input type="text" class="input-field" formControlName="userName"></ion-input>
        <div class="validators" *ngIf="singForm.controls.userName.errors && singForm.controls.userName.dirty">
          <div *ngIf="singForm.controls.userName.errors?.['required']">{{ 'UserNameError1' |  translate | async }}</div> 
        </div>
      </div> -->

      <!-- ------------------------- EMAIL INPUT ------------------------- -->

      <!-- <div class="input">
        <ion-label class="prompt-text" position="stacked">{{ 'Email' | translate | async }}</ion-label>
        <br><br>
        <ion-input type="text" class="input-field" formControlName="email"></ion-input>
        <div class="validators" *ngIf="singForm.controls.email.errors && singForm.controls.email.dirty">
          <div *ngIf="singForm.controls.email.errors?.['required']">{{ 'EmailError1' |  translate | async }}</div>
          <div *ngIf="singForm.controls.email.errors?.['email']">{{ 'EmailError2' |  translate | async }}</div>
        </div>
      </div> -->
      
      <!-- ------------------------- PASSWORD INPUT ------------------------- -->

      <!-- <div class="input">
        <ion-label class="prompt-text" position="stacked">{{ 'Password' | translate | async }}</ion-label>
        <br><br>
        <ion-input type="password" class="input-field" formControlName="password"></ion-input>
        <div class="validators" *ngIf="singForm.controls.password.errors && singForm.controls.password.dirty">
          <div *ngIf="singForm.controls.password.errors?.['required']">{{ 'PasswordError1' | translate | async }}</div>
          <div *ngIf="singForm.controls.password.errors">{{ 'PasswordError2' | translate | async }}</div>
          <div *ngIf="singForm.get('password')?.errors?.['uppercaseRequired']">{{ 'PasswordError3' | translate | async }}</div>
          <div *ngIf="singForm.get('password')?.errors?.['lowercaseRequired']">{{ 'PasswordError4' | translate | async }}</div>
          <div *ngIf="singForm.get('password')?.errors?.['numericRequired']">{{ 'PasswordError5' | translate | async }}</div>
          <div *ngIf="singForm.get('password')?.errors?.['specialCharRequired']">{{ 'PasswordError6' | translate | async }}</div>
        </div> 
      </div> -->

      <!-- ------------------------- TEXT INPUT ------------------------- -->

      <ion-item *ngIf="intype === 'text'" class="input">
        <ion-label class="prompt-text" position="stacked">{{label}}</ion-label>
        <br><br>
        <ion-input class="input-field" [formControl]="control" [type]="type"></ion-input>
      </ion-item>

      <ion-button [disabled]="singForm.invalid" type="submit">{{ 'Enter' | translate | async }}</ion-button>
    
    <!-- </div>
  </form>
</ion-card> -->

