
<!-- ------------------------- TEXT INPUT ------------------------- -->

<ion-item *ngIf="intype === 'text'" class="input">

  <ion-input 
    label="{{label}}{{required ? '*' : '(optional)'}}" labelPlacement="floating"
    aria-label="text" class="input-field" 
    [formControl]="control" [type]="type" class="labeltxt"
  ></ion-input>

</ion-item>

<!-- ------------------------- SELECT INPUT ------------------------- -->

<div *ngIf="intype === 'select'" class="input">

  <ion-label class="select" position="stacked">{{label}}
    <ion-text *ngIf="required" color="danger">*</ion-text>
    <ion-text *ngIf="!required">(optional)</ion-text>
  </ion-label>

  <ion-list class="select">
    <ion-select [formControl]="control" interface="popover" placeholder="Select {{type}}">
      <ion-select-option *ngFor="let item of SelectList" >{{item}}</ion-select-option>
    </ion-select>
  </ion-list>  

</div>

<!-- ------------------------- CHECKBOX INPUT ------------------------- -->
<div *ngIf="intype === 'checkbox'" class="checkboxProp">

  <ion-label class="prompt-text" position="stacked">{{label}}
    <ion-text *ngIf="required" color="danger">*</ion-text>
    <ion-text *ngIf="!required">(optional)</ion-text>
  </ion-label>

  <ion-list *ngFor="let option of CheckboxOptions; let i = index">
    <input aria-label="CheckboxOptions" type="checkbox" class="ui-checkbox" 
          [checked]="control.value === option" (click)="onCheckboxClick(option)">
      <ion-label> {{option}}</ion-label>
  </ion-list>

</div>
