<ion-content class="ion-padding">
   
  <app-header title="Log In" type="login"></app-header>

  <div class="login-header">
    <h1>Loging</h1>
    <p>select your email and enter password</p>
  </div>

  <ion-list>

    <form [formGroup]="logForm" (ngSubmit)="isUserLoggedIn()">

      <app-input
        [control]="logForm.controls.email" intype="select" label="{{ 'UserName' | translate | async }}" 
        [SelectList]="UsersList" type="User" [required]="true" (click)="onUserList()">
      </app-input>

      <app-input
        [control]="logForm.controls.password" intype="text" label="{{ 'Password' | translate | async }}" 
        type="Password" [required]="true">
      </app-input>



  <ion-button [disabled]="logForm.invalid" type="submit" expand="block">{{ 'Enter' | translate | async }}</ion-button>
  <p class="signup-text">Don't have an account? <a href="#"  routerLink="/signin" type="button">{{ 'Register' | translate | async }}</a></p>
</form>

</ion-list>
</ion-content>
