<ion-content>
    
  <app-header title="Log In" type="login"></app-header>

  <ion-row>
    <ion-col sizeLg="4" sizeMd="3" sizeSm="2" size="12"></ion-col>

    <ion-col sizeLg="4" sizeMd="6" sizeSm="8" size="12">
      <ion-card>
        <form [formGroup]="logForm" (ngSubmit)="isUserLoggedIn()">
          <div>

            <!-- <div class="input">
              <ion-label class="prompt-text" position="stacked">{{ 'UserName' | translate | async }}</ion-label>
              <br><br>
              <ion-input type="text" class="input-field" formControlName="userName"></ion-input>
              <div class="validators" *ngIf="logForm.controls.userName.errors && logForm.controls.userName.dirty">
                <div *ngIf="logForm.controls.userName.errors?.['required']">{{ 'UserNameError1' |  translate | async }}</div>  
              </div>
            </div> -->

            <app-input [control]="logForm.controls.userName" intype="select" label="{{ 'UserName' | translate | async }}" 
                        [SelectList]="UsersList" type="User" [required]="true" (click)="onUserList()"></app-input>

            <div class="input">
              <ion-label class="prompt-text" position="stacked">{{ 'Password' | translate | async }}</ion-label>
              <br><br>
              <ion-input type="password" class="input-field" formControlName="password"></ion-input>
              <div class="validators" *ngIf="logForm.controls.password.errors && logForm.controls.password.dirty">
                <div *ngIf="logForm.controls .password.errors?.['required']">{{ 'PasswordError1' | translate | async }}</div>
              </div> 
            </div>

            <ion-button [disabled]="logForm.invalid" type="submit">{{ 'Enter' | translate | async }}</ion-button>
          </div>
        </form>
        <ion-button routerLink="/signin" type="button">{{ 'Register' | translate | async }}</ion-button>
      </ion-card>
    </ion-col>

    <ion-col sizeLg="4" sizeMd="3" sizeSm="2" size="12"></ion-col>
  </ion-row>
</ion-content>
