// ion-card {
//     margin-top: 20px;
//     background-color: var(--ion-color-primary-contrast);
//     border: solid;
//     border-color: #1e1e1e;
//     padding: 10px;
// }

  
ion-button {
    margin-top: 2em;
    --background: #2dd36f; // Use your theme color
    --border-radius: 20px; // Adjust border radius as needed
    --padding-vertical: 15px; // Adjust padding as needed
    --padding-horizontal: 30px; // Adjust padding as needed
    --box-shadow: 0 4px 8px rgba(45, 211, 111, 0.2); // Optional: Adds a shadow effect
  }

.validators{
    font-size: 14px;
    color: var(--ion-color-danger);
    padding-bottom: 5px;
    text-align: left;
    padding-left: 10px;
}
